/* CONSTANTS */
$primary-color: #8b2f97;
$secondary-color: #8b2f97;
$text-color: #191919;
$line-color: #b2b2b2;
$nav-color: #ffffff;
$bg-color: #f0f0f0;
$header-bg-color: #fcfcfc;
$font: 'Roboto', sans-serif;

/* APP STYLES */
.App {
  text-align: center;
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  color: $text-color;
  font-family: $font;
}

.App-header {
  display: block;
  background-color: $primary-color;
  flex: 0 0 160px;
  align-self: stretch;
}

.App-content {
  height: 100%;
  display: block;
  flex-grow: 6;
  overflow-x: hidden;
}

/* NAVIGATION STYLES */
.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 20px 0px 15px;

  .nav-link {
    color: $nav-color;
    text-decoration: none;
    display: block;
    transition: all 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  .active {
    text-decoration: underline;
  }

  .sub-nav {
    opacity: 0.75;
    padding-left: 10px;
  }
}

/* BUTTON STYLES */
.btn {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  align-self: center;
}

.next-btn {
  background-color: $primary-color;
  color: $nav-color;
}

.nav-btn {
  background-color: $primary-color;
  color: $nav-color;
}

/* CONTENT STYLES */
.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;

  .content-header {
    width: 100%;
    background-color: $header-bg-color;
    -webkit-box-shadow:0px 1px 3px $line-color;
    -moz-box-shadow:0px 1px 3px $line-color;
    box-shadow:0px 1px 3px $line-color;
    z-index: 10;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 20px;
    z-index: 9;

    .content-row {
      text-align: left;
    }
  }
}

/* TEXT STYLES */

h1 {
  font-weight: 300;
  font-size: 40px;
  margin: 10px;

  span {
    font-size: 24px;
    font-style: italic;
  }
}

h2 {
  font-size: 28px;
  font-weight: 600;
  opacity: 0.7;
}

p {
  font-size: 18px;
  text-align: justify;
  line-height: 22px;
  padding: 0px 10px;
}

/* IMAGE STYLES */
.logo {
  width: 80px;
  position: absolute;
  top: 18px;
  right: 10px;
}

.figure {
  height: 40vh;
  margin: auto;
}

.portrait {
  height: 30vh;
  margin: auto;
  border-radius: 50%;
}
